@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans';
  padding: 0px;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a {
  text-decoration: underline;
  color: blue;
}
